/* ----------------------------------------------------
  efeitos de surgimento
   ---------------------------------------------------- */

.scroll-reveal {

    display: inline-block; 
    transition: opacity 0.9s cubic-bezier(0.17, 0.55, 0.55, 1), 
                transform 0.9s cubic-bezier(0.17, 0.55, 0.55, 1);
    opacity: 0;
    transform: translateY(20px);
}

.scroll-reveal.visible {
    opacity: 1;
    transform: translateY(0);
}


.scroll-reveal.fade-in {
    transform: none;
}
.scroll-reveal.fade-in.visible {
    opacity: 1;
}

.scroll-reveal.fade-up {
    transform: translateY(30px);
}

.scroll-reveal.slide-left {
    transform: translateX(-50px);
}

.scroll-reveal.slide-right {
    transform: translateX(50px);
}