/* SecaoContinueAssistindo.css */

.secaoConteudoCatalogo {
    width: 100%;
    padding: 20px 0; 
    color: #f6f5f5ff; 
}

/* ---------------------------------------------------- */
/* CABEÇALHO (Header) */
/* ---------------------------------------------------- */

.secaoHeadercatalogo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 40px 0 80px; 
    margin-bottom: 20px; 
}

.secaoTituloCatalogo {
    font-size: 1.8rem; 
    font-weight: 700; 
    padding: 0 40px 0 80px; 
}

/* ---------------------------------------------------- */
/* LISTA DE CARDS (Layout Horizontal) */
/* ---------------------------------------------------- */

.listaConteudoCatalogo {
    display: flex;
    gap: 35px;
    
    /* Adiciona padding horizontal para alinhar o primeiro card com o título e dar espaço para o menu lateral */
    padding: 0 40px 0 80px; 
    
    /* Rolagem e esconder barra mantidos */
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px; /* Garante que o scrollbar não esconda o conteúdo */
}

.listaConteudo::-webkit-scrollbar {
    display: none;
}