
:root {
    --cor-texto-claro: #E0E0E0;
}

/* ----------------------------------------------------
   seção principal
   ---------------------------------------------------- */

.secao-carrossel-favoritos-wrapper {
    padding: 20px 50px 50px 60px;
    width: 100%;
    box-sizing: border-box;
}

.secao-carrossel-favoritos__cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.secao-carrossel-favoritos__titulo {
    font-size: 2.2em;
    font-weight: 700;
    margin: 0;
    color: var(--cor-texto-claro);
}


.secao-carrossel-favoritos__lista {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 2px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.secao-carrossel-favoritos__lista::-webkit-scrollbar {
    display: none;
}

.secao-carrossel-favoritos__lista>.cardFilme {

    scroll-snap-align: start;
}


.secao-carrossel-favoritos__navegacao {
    display: flex;
    gap: 10px;
}

/* ----------------------------------------------------
   carrossel de filmes recomendados
   ---------------------------------------------------- */

.carrossel-seta {
    transform: translateX(0);
    background: rgba(127, 127, 127, 0.2);
    color: rgba(255, 255, 255, 0.6);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #00B8AD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
}

/* ----------------------------------------------------
   setas
   ---------------------------------------------------- */

.carrossel-seta.esquerda {
    transform: translateX(-65px); 
}

.carrossel-seta.direita {
    transform: translateX(-65px);
}

.carrossel-seta.ativo {
    color: rgba(255, 255, 255, 0.8);
}

.carrossel-seta.ativo:hover {
    background:rgba(0, 191, 166, 0.3);
    border-color: #026e67;
}

.carrossel-seta.inativo {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
}