
.heroKidsContainer {
    height: 100vh; 
    background-image: url('../../assets/cinefyKids/backgroundCinefy.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-bottom: 200px;
}


.heroKidsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1; 
    padding: 0; 
    box-sizing: border-box;
}

.heroKidsContent {
    position: relative; 
    z-index: 2; 
    margin-top: 190px; 
    max-width: 900px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    justify-content: center;
    color: white;
}

.heroKidsTagline {
    display: inline-flex;
    align-items: center;
    padding: 0.24rem 1.4rem 0.24rem 0.24rem;
    border-radius: 2rem; 
    background-image: linear-gradient(to right, #1D3836, #026B66);
    backdrop-filter: blur(8px);
    color: #D3D8D8;
    font-size: 1.3rem; 
    font-weight: 500;
    margin-bottom: 1rem;
    transition: all 0.3s;
}
.camera-icon-wrapper{
  width: 36px; 
    height: 36px;
    border-radius: 50%;
    flex-shrink: 0; 
    background-image: linear-gradient(to right, #BBBABA, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.camera-icon-tag{
    color: #fff;
    margin: 0;
}
.heroKidsTitle {
    font-size: 4em; 
    font-weight: 800;
    line-height: 1.1;
    margin: 0 0 30px 0;
    margin-top: 50px;
    background: linear-gradient(to left, #B1B1B1, white); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
    -webkit-text-fill-color: transparent; 
}

.heroKidsDescription {
    font-size: 1.4em; 
    color: #ffffff;
    line-height: 1.4;
    max-width: 750px; 
    margin: 0 auto 50px auto;
}

.heroKidsCardsWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
  z-index: 3;
  transform: perspective(1000px) translateY(470px);
  padding: 0 70px;
  box-sizing: border-box;
}

.heroKidsCard {
  position: absolute;
  width: 180px;
  pointer-events: auto;
  border-radius: 15px;
  overflow: visible;
  transition: transform 0.3s ease-out;
}


.cardInner {
  transition: transform 0.35s ease, filter 0.35s ease;
  border-radius: 15px;
  overflow: hidden;
  filter: drop-shadow(0 25px 20px rgba(0, 0, 0, 0.7));
}

.heroKidsCard:hover .cardInner {
  transform: scale(1.08);
  filter: drop-shadow(0 35px 25px rgba(0, 0, 0, 0.8));
  z-index: 10;
}

/* ---------------------------------------------*/
/* Posições e tamanhos individuais dos cards */
/* ---------------------------------------------*/
.card-home {
  transform: rotate(-7deg) translateX(-460px);
  bottom: 240px;
  width: 287.26px;
  z-index: 1;
}

.card-mcqueen {
  transform: rotate(-3deg) translateX(-280px);
  bottom: 140px;
  width: 472.14px;
  z-index: 2;
}

.card-moana {
  transform: translateY(0px);
  bottom: 180px;
  width: 360px;
  z-index: 5;
}

.card-luca {
  transform: rotate(3deg) translateX(260px);
  bottom: 190px;
  width: 371.43px;
  z-index: 2;
}

.card-dory {
  transform: rotate(7deg) translateX(470px);
  bottom: 200px;
  width: 320px;
  z-index: 1;
}
