/* ----------------------------------------------------
   seção destaque kids
   ---------------------------------------------------- */
.destaques-kids-section {
  padding-top: 30px;
  padding-bottom: 0;
  background-color:#16181E;
}

.destaques-list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
}

/* ----------------------------------------------------
  card principal, o banner
   ---------------------------------------------------- */
.destaque-card-wrapper {
  position: relative;
  width: 100%;
  max-width: 1750px;
  height: 385px;
  overflow: hidden;
  background-color: #16181E;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;

}

/* ----------------------------------------------------
   fundo do banner
   ---------------------------------------------------- */
.card-background-art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: brightness(0.7) blur(1px);
  z-index: 1;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.card-background-art.fade {
  opacity: 0;
}

/* ----------------------------------------------------
   conteudo do card
   ---------------------------------------------------- */
.destaque-card-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 40px 130px;
  width: 100%;
  z-index: 2;
}

.card-poster-container {
  position: relative;
  width: 256px;
  height: 323px;
  border-radius: 15px;
  overflow: hidden;
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.card-poster-container:hover {
  transform: scale(1.02);
}

.card-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ----------------------------------------------------
   detalhes do filme
   ---------------------------------------------------- */
.card-details {
  color: white;
  text-align: left;
  margin-right: auto;
}

.card-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}


.card-genre {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 5px;
}


.card-runtime {
  font-size: 1rem;
  color: #c4c4c4;
  margin-bottom: 20px;
}


.rating-stars {
  display: flex;
  gap: 6px;
  margin-bottom: 25px;
}


.trailer-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 32px;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  background: linear-gradient(90deg, #005955, #00B9AE);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(48, 48, 48, 0.4),
        inset 5px 5px 10px #2a4746; 
}

.trailer-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(19, 19, 19, 0.2);
}

/* ----------------------------------------------------
   setas de navegação
   ---------------------------------------------------- */
.slider-arrows {
  position: absolute;
  top: 80%;
  right: 35px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  z-index: 5;
  pointer-events: none;
}

.arrow-button {
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 2px solid #00B8AD;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.arrow-button:hover {
  background:rgba(0, 191, 166, 0.3);
  border-color: #026e67;
  transform: scale(1.1);
}

/* ----------------------------------------------------
   indicadores
   ---------------------------------------------------- */
.slider-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #555;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.indicator.active {
  background-color: #00bfa6;
  transform: scale(1.2);
}

/* ----------------------------------------------------
   modal trailer
   ---------------------------------------------------- */

.trailer-modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.95);
}


.trailer-modal-content {
    background: #1e1e1e;
    padding: 0; 
    border-radius: 12px;
    max-width: 90%;
    width: 800px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
}

.trailer-modal-header {
    background: linear-gradient(to right, #025550, #318A84);
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trailer-modal-title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    gap: 10px;
}


.trailer-modal-close {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

.trailer-modal-close:hover {
    color: #ccc;
}

.trailer-modal-iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    background-color: #2c2c2c; 
    padding-bottom: 0px; 
}

.trailer-modal-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}