.secaoConteudo {
    width: 100%;
    padding: 40px 0; 
    color: #f6f5f5ff; 
    background-color: #16181E;
}

/* ---------------------------------------------------- */
/* CABEÇALHO 
/* ---------------------------------------------------- */

.secaoHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 40px 0 110px; 
    margin-bottom: 20px; 
}

.secaoTitulo {
    font-size: 1.8rem; 
    font-weight: 700; 
    margin: 0;
}

/* ---------------------------------------------------- */
/* LISTA DE CARDS
/* ---------------------------------------------------- */

.listaConteudo {
    display: flex;
    gap: 30px;
    padding: 0 40px 0 110px; 
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
}

.listaConteudo::-webkit-scrollbar {
    display: none;
}