 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #16181E;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

main, section, article {
  width: 100%;
  max-width: 100vw; 
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px; 
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 20px 0; 
}

::-webkit-scrollbar-thumb {
    background: #3a3f4b; 
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #505562; 
}

.fade-enter {
  opacity: 0;
  transform: scale(0.98);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(1.02);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
