:root {
    --cor-fundo: #0b0f14;
    --cor-fundo-card: rgba(255, 255, 255, 0.03);
    --cor-borda-card: rgba(255, 255, 255, 0.08);
    --cor-verde-agua: #2af5d1;
    --cor-verde-agua-escuro: #16c2a3;
    --cor-texto: #e2e2e2;
    --cor-texto-suave: #e4e2e2;
    --cor-danger: #ff6b6b;
    --cor-danger-escuro: #d94c4c;
    --radius: 24px;
    --transition: 0.2s ease;
}

/* ----------------------------------------------------
   estrutura da tela
   ---------------------------------------------------- */

.dashboardContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
     background: 
        radial-gradient(circle at 15% 20%, rgba(42, 245, 209, 0.22), transparent 60%),
        radial-gradient(circle at 80% 70%, rgba(22, 194, 163, 0.18), transparent 65%),
        #0b0f14;
    color: var(--cor-texto);
    overflow-x: hidden;
}


.dashboardAreaPrincipal {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    max-width: 1350px;
}



.dashboardConteudo {
    flex: 1;
    padding: 40px 130px;
    padding-top: 120px;
}

/* ----------------------------------------------------
   cabeçalho
   ---------------------------------------------------- */

.dashboardCabecalho {
    margin-bottom: 40px;
}

.dashboardSaudacao {
    font-size: 1.2rem;
    color: white;
}

.dashboardTitulo {
    margin-top: 4px;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}

/* ----------------------------------------------------
   estrutura do grid
   ---------------------------------------------------- */

.dashboardGrade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
}

/* ----------------------------------------------------
   cards gerais
   ---------------------------------------------------- */

.cartaoEstatistica,
.listaSolicitacoesContainer,
.ultimosFilmesContainer {
    background: var(--cor-fundo-card);
    border: 1px solid var(--cor-borda-card);
    padding: 24px;
    border-radius: var(--radius);
    backdrop-filter: blur(10px);
    transition: var(--transition);
}

.listaSolicitacoesContainer {
    grid-column: span 3;
}


.cartaoEstatistica:hover,
.listaSolicitacoesContainer:hover,
.ultimosFilmesContainer:hover {
    border-color: var(--cor-verde-agua);
}



.cartaoEstatistica {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartaoEstatisticaTopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFF;
}

.cartaoEstatisticaValor {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.cartaoEstatisticaDescricao {
    margin-top: 14px;
    color: var(--cor-texto-suave);
    font-size: 0.95rem;
}

/* ----------------------------------------------------
   lista de solicitações
   ---------------------------------------------------- */

.listaSolicitacoesWrapper {
    width: 100%;
}

.listaSolicitacoesTitulo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 24px;
}

.listaSolicitacoesItens {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.nenhumaSolicitacaoMensagem {
    color: var(--cor-texto-suave);
    text-align: center;
    padding: 20px 0;
}

/* ----------------------------------------------------
   item da solicitação especifíca
   ---------------------------------------------------- */

.itemSolicitacao {
    display: grid;
    grid-template-columns: 55px 1fr auto auto;
    align-items: center;
    gap: 18px;
    padding: 18px 20px;
    border-radius: var(--radius);
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid var(--cor-borda-card);
    transition: var(--transition);
}


.itemSolicitacaoDesabilitado {
    opacity: 0.5;
    pointer-events: none;
}

/* ----------------------------------------------------
   avatar da solicitação
   ---------------------------------------------------- */

.avatarSolicitante {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: linear-gradient(to right, #00BFB6, #005955);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

/* ----------------------------------------------------
   dados da solicitação
   ---------------------------------------------------- */

.dadosSolicitacaoNome {
    font-weight: 600;
    font-size: 1.1rem;
}

.dadosSolicitacaoDetalhes {
    margin-top: 1px;
    color: var(--cor-texto-suave);
    font-size: 0.99rem;
}

.dadosSolicitacaoData {
    margin-top: 1px;
    color: var(--cor-texto-suave);
    font-size: 0.95rem;
}

.dadosSolicitacaoAcao {
    color: var(--cor-verde-agua);
    font-weight: 600;
}

/* ----------------------------------------------------
   tipo de ação (edição ou adição)
   ---------------------------------------------------- */

.tagTipoAcao {
    font-size: 0.99rem;
    padding: 4px 10px;
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    color: white;
    font-weight: 700;
}

.tagTipoEdicao {
    background: #005955;
}

.tagTipoAdicao {
    background: #005955;
}

.tagTipoOutro {
    background: #8fa3ff;
}

/* ----------------------------------------------------
   botões de aceitar ou negar
   ---------------------------------------------------- */

.botoesAcoes {
    display: flex;
    gap: 10px;
}

.botaoAprovar,
.botaoRejeitar {
    padding: 8px 14px;
    border-radius:30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: var(--transition);
}


.botaoAprovar {
    background: var(--cor-verde-agua);
    color: black;
}

.botaoAprovar:hover {
    background: var(--cor-verde-agua-escuro);
}

.botaoRejeitar {
    background:#FF4141;
    color: black;
}

.botaoRejeitar:hover {
    background: var(--cor-danger-escuro);
}


.iconeCarregando {
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.ultimosFilmesTitulo {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.ultimosFilmesLista {
    display: grid;
    margin-right: 30px;
    gap: 14px;
    margin-bottom: 40px;
}

.ultimosFilmesItem {
    display: flex;
    justify-content: space-between;
    color: var(--cor-texto-suave);
}

.botaoVerCatalogo {
    background: linear-gradient(to right, #008C79, #0EEDE0);
    color: black;
    font-size: 1.1rem;
    padding: 10px 16px;
    border-radius: var(--radius);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

.botaoVerCatalogo:hover {
    background: linear-gradient(to right, #017061, #0dc9bf);
}

.footerDashboardWrapper {
    width: calc(100% - 10px); 
    margin-left: 130px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
