/* ----------------------------------------------------
  filtro de produtoras kids
   ---------------------------------------------------- */
.produtoras-section {
    padding-top: 290px; 
    padding-bottom: 50px;
    background-color: #16181E; 
}


.produtoras-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

/* ----------------------------------------------------
  cards das produtoras
   ---------------------------------------------------- */
.produtora-card {
    width: 230px;
    height: 120px;
    background-color: #16181E;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #3A3D50;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.produtora-card:hover {
    border-color: #00bfa6; 
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 0 15px rgba(0, 191, 166, 0.5);
}

.produtora-logo-placeholder {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%;
}

.produtora-logo-image {
    max-width: 90%; 
    max-height: 90%; 
    object-fit: contain; 
    filter: brightness(0) invert(1); 
}


@media (max-width: 1024px) {
    .produtoras-grid {
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .produtora-card {
        width: 150px;
        height: 80px;
    }
}