
.detalhes-main,
.detalhes__hero {
    margin: 0 !important;
    padding: 0 !important;
}

body, html {
    margin: 0;
    padding: 0;
}



.detalhes-page-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #0d1117; 
    color: #f0f6f9;
}

.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.detalhes-main {
    flex-grow: 1;
    width: 100%;
    padding: 0;
    position: relative;
}


.detalhes__hero {
    position: relative;
    margin-left: -250px;       
    width: calc(100% + 250px); 
    max-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.detalhes__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom, 
        rgba(13, 17, 23, 0.2) 0%, 
        rgba(13, 17, 23, 0.4) 70%, 
        #0d1117 100%
    );
    z-index: 1;
}

.detalhes__content-wrapper {
    position: relative; /* dentro do fluxo */
    z-index: 2;
    display: flex;
    gap: 40px;
    padding: 16% 40px 0 40px;
}
.detalhes__poster {
    width: 280px; 
    height: 410px; 
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    flex-shrink: 0; 
}

.detalhes__content {
    flex-grow: 1; 
    padding: 0;
    max-width: 780px;
}

.btn-edit-hero {
    position: absolute;
    top: 190px; 
    right: 40px; 
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%; 
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
     z-index: 3
}
.btn-edit-hero:hover {
    background-color: rgba(255, 255, 255, 0.2);

}

.btn-delete-hero {
    position: absolute;
    top: 280px; 
    right: 40px; 
    z-index: 20; 
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%; 
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
     z-index: 3
}
.btn-delete-hero:hover{
    background-color: rgba(197, 13, 13, 0.2);
}



.detalhes__titulo {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.detalhes__info-geral {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    font-size: 1rem;
    color: #a8b3c0;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating {
    color: #ffffff;
}

/* --- Ações (Botões) --- */
.detalhes__acoes {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.btn-primary, .btn-secondary {
    display: flex;
    align-items: center;
    padding: 15px 29px;
    border: none;
    border-radius: 550px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    gap: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFF;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f0f6f9;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* --- Sinopse e Metadados --- */
.detalhes__sinopse {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 30px;
}


.detalhes__metadados-e-elenco {
    padding: 0 40px 60px 60px; 
}

.detalhes__metadados {
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    padding-top: 30px;
    margin-bottom: 70px;
    display: flex; 
    flex-wrap: wrap;
    gap: 70px;
}

.metadado-item {
    padding-right: 0;
    border-right: none;
}
.metadado-item strong {
    display: block;
    font-weight: 700;
    color: #f0f6f9;
    margin-bottom: 5px;
    margin-right: 8px;
}

.badge-nome, .badge-genero {
    display: inline-block;
    padding: 6px 15px;
    margin-right: 8px;
    margin-top: 5px;
    border-radius: 20px;
    font-size: 1.1rem;
}

.badge-nome {
    background-color: rgba(189, 188, 188, 0.05); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #a8b3c0;
    margin-right: 8px; 
    margin-top: 20px;
}

.badge-genero {
    background-color: rgba(0, 185, 174, 0.25);
    border: 1px solid #0EEDE0;
    color: #0EEDE0;
    font-weight: 500;
    margin-right: 8px; 
    margin-top: 20px;
}

/* --- Elenco --- */
.detalhes__elenco {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* --- Elenco --- */
.detalhes__elenco h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 20px;
    color: #f0f6f9;
}

.elenco__lista {
    display: flex;
    gap: 150px; 
    overflow-x: auto;
    padding: 10px 0 10px 60px;
}

.elenco__ator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    flex-shrink: 0;
}

.ator__imagem {
    width: 190px; /* Reduzido para um tamanho mais próximo do protótipo */
    height: 190px; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.ator__nome {
    text-align: center;
    font-size: 1rem;
    color: #f0f6f9; 
    font-weight: 500;
}

.footerDetalhesWrapper {
    width: calc(100% - 120px); /* 60px padding lateral de cada lado */
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-voltar-hero {
    position: absolute;
    top: 140px;
    left: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 25; 
}

.btn-voltar-hero:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ---------------------------------------------------- */
/* 6. ESTILOS DO MODAL (ESTILIZAÇÃO DO PROTÓTIPO)        */
/* ---------------------------------------------------- */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    backdrop-filter: blur(5px);
}

.modalContent {
    background: #1e1e1e; 
    padding: 0; 
    border-radius: 12px;
    max-width: 90%;
    width: 900px; 
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
}

.modalHeader {
    background: linear-gradient(to right, #025550, #318A84);
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalTitle {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.modalTitleLabel {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.8);
}

.modalTitleContent {
    font-weight: 600;
}


.modalCloseButton {
    position: static; 
    background: none;
    border: none;
    color: white;
    font-size: 20px; 
    cursor: pointer;
    opacity: 1; 
    transition: color 0.2s;
}

.modalCloseButton:hover {
    opacity: 1;
    color: #f2f2f2; 
}


.iframeContainer {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    background-color: #2c2c2c;
    padding-bottom: 0px; 
}

.iframeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0; 
}