
.profileDropdownContainer {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    background: rgb(41, 41, 41);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    padding: 10px 0;
    margin-top: 10px;
}

.dropdownHeader {
    padding: 8px 15px 15px 15px;
}

.dropdownUserName {
    font-weight: 600;
    color: #fff;
    margin: 0;
    font-size: 1.1rem;
}

.dropdownUserStatus {
    font-size: 0.85rem;
    color: #a0a0a0; 
    margin-top: 2px;
}

.dropdownDivider {
    height: 1px;
    background-color: #3b3e41;
    margin: 8px 0;
}

.dropdownMenuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdownMenuItem {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #d0d0d0;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1rem;
}

.dropdownMenuItem:hover {
    background-color: #3c4043; 
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
}

.dropdownIcon {
    margin-right: 12px;
    color: inherit; 
}


.logoutItem {
    color: #fff; 
    font-weight: 500;
}

.logoutItem:hover {
    background-color: #3c4043; 
    color: #e2e2e2;
}