/* ----------------------------------------------------
  container no sininho e do user
   ---------------------------------------------------- */
.user-profile-widget-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem; 
    z-index: 50; 
    margin-left: auto;
    flex-shrink: 0;
}

/* ----------------------------------------------------
  notificação
   ---------------------------------------------------- */
.notification-bell-wrapper {
    position: relative;
    width: 48px; 
    height: 48px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.notification-bell-icon {
    color: var(--color-text-primary); 
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #008574, #016059);
    color: #fff; 
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    line-height: 1; 
}

/* ----------------------------------------------------
  user
   ---------------------------------------------------- */
.profile-card {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 0.5rem; 
    border-radius: 2rem; 
    background-color: rgba(255, 255, 255, 0.1); 
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
}

.profile-card:hover {
    background-color: #384252;
}

.profile-avatar {
    width: 38px; 
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.75rem;
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    line-height: 1.1;
}

.profile-name {
    font-weight: 700;
    color: var(--color-text-primary); 
    font-size: 1rem;
}

.profile-status {
    font-size: 0.8rem;
    color: var(--color-text-secondary); 
}

.profile-dropdown-arrow {
    color: var(--color-text-secondary);
}