/* ----------------------------------------------------
   card principal do catalogo
   ---------------------------------------------------- */
.cardCatalogoWrapper {
    width: 670px;
    height: 374px;
    position: relative;
    flex-shrink: 0;
    margin-right: 57px;

}



.cardCatalogoWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--poster-capa);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.cardCatalogoConteudo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px 60px 38px;
    text-align: left;
    color: #DBDBDA;
    z-index: 2;
}

.cardCatalogoTitulo {
    font-size: 2.6em;
    font-weight: 800;
    margin: 0;
    line-height: 1.1;
    max-width: 280px;
    color: #DBDBDA;
}

.cardCatalogoSubtitulo {
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 5px;
    color: #e8e8e8;
}

.cardCatalogoSelo {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 12px 22px;
    background: linear-gradient(to right, rgba(0, 191, 166, 0.5), rgba(0, 191, 166, 0.11));
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 29px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 191, 166, 0.3);
    z-index: 3;
}
