
.secaoFilmes {
    align-items: center;
    width: 100%; 
}

.cabecalhoSecao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.tituloSecao {
    font-size: 1.5em;
    color: #ffffff; 
    margin: 0;
}

.linkVerTodos {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9rem;
    color: #9c9c9c;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.linkVerTodos:hover {
    color: #ffffff;
}

.linkVerTodos .iconeSeta {
    transition: transform 0.2s ease-in-out; 
}

.linkVerTodos:hover .iconeSeta {
    transform: translateX(2px);
}

.containerCards {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    padding-bottom: 70px; 
}

.containerCards::-webkit-scrollbar {
    display: none;
}

.containerCards {
    -ms-overflow-style: none;
    scrollbar-width: none;
}