
.secaoLancamentos {
    padding: 0px; 
    color: white;
}

.cabecalhoSecaoLancamentos {
    margin-bottom: 20px;
}

.tituloSecaoLancamentos {
    font-size: 1.5em;
    color: #ffffff; 
    margin: 0;
}

.card-lancamento {
    box-sizing: border-box;
}

.containerCardsLancamento {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 16px; 
    overflow-x: hidden;
    
    @media (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}