
.erro-container-full {
    margin-top: 80px;
    min-height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}



.erro-card {
    max-width: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    color: var(--text-primary, #f0f6f9);
    border-radius: 32px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border: 1px solid  rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px;
}


.erro-icon {
    color: #f75757;
    margin-bottom: 15px;
}

.erro-titulo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #FFFF;
}

.erro-mensagem {
    font-size: 1.1rem;
    margin-bottom: 20px;
    max-width: 400px;
    color: #bcc6d4;
}

.erro-detalhes {
    font-size: 0.7rem;
    padding-top: 15px;
    border-top: 1px solid  rgba(255, 255, 255, 0.2);
    color:  #bcc6d4;
}