.paginaCatalogo {
    background-color: #1a1e27;
    min-height: 100vh;
    color: #e8e8e8;
    overflow-x: hidden;
}


.cinekids-main-content > footer {
    width: 95%; /* Reduz a largura para que caiba no contêiner */
    max-width: 1300px; /* Opcional: define uma largura máxima razoável */
    margin: 30px auto; /* Centraliza horizontalmente e adiciona margem vertical */
    padding: 30px; /* Adiciona algum padding lateral interno */
    box-sizing: border-box; 
}
.cinekids-page .secao-filtro {
  max-width: 95%;  /* ajuste o valor conforme necessário */
  margin: 0 auto;  /* centraliza horizontalmente */
  transform: scale(0.9); /* opcional: reduz o tamanho geral */
}
