/* ----------------------------------------------------
   estrutura da tela
   ---------------------------------------------------- */
.paginaCatalogo {
    background-color: #1a1e27;
    min-height: 100vh;
    color: #e8e8e8;
    overflow-x: hidden;
}

/* ----------------------------------------------------
   arrumando o footer
   ---------------------------------------------------- */
.cinekids-main-content > footer {
    width: 95%;
    max-width: 1300px; 
    margin: 30px auto; 
    padding: 30px;
    box-sizing: border-box; 
}
.cinekids-page .secao-filtro {
  max-width: 95%;
  margin: 0 auto;
  transform: scale(0.9);
}

/* ----------------------------------------------------
   mensagem de erro na parte do catalogo infatil
   ---------------------------------------------------- */
.error-message{
    font-size: 15px;
    color: white;
    background-color: rgba(255, 96, 96, 0.2);
    border: 2px solid rgba(255, 96, 96, 0.2);
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin-left: 500px;
}