.paginaCatalogo {
    background-color: #1a1e27;
    min-height: 100vh;
    color: #e8e8e8;
    overflow-x: hidden;
}


.cinekids-main-content > footer {
    width: 95%;
    max-width: 1300px; 
    margin: 30px auto; 
    padding: 30px;
    box-sizing: border-box; 
}
.cinekids-page .secao-filtro {
  max-width: 95%;
  margin: 0 auto;
  transform: scale(0.9);
}
