
.centered-message-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    box-sizing: border-box;
}

.access-denied-card {
    background: var(--card-bg); 
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px; 
    padding: 45px;
    max-width: 500px; 
    width: 100%;
    text-align: center;
    box-shadow: var(--shadow-dark);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.access-denied-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 0 15px var(--accent-color);
}

.icon-denied {
    color: #ffffff; 
    margin-bottom: 15px;
}

.denied-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffffff; 
    margin: 0 0 10px 0;
}

.denied-message {
    font-size: 1.2rem;
    color: var(--text-muted);
    margin-bottom: 30px;
    line-height: 1.5;
}

.denied-login-button {
    width: 100%;
    padding: 15px 35px; 
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #328B85, #00BFB6);
    color: var(--text-primary);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s;
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.5) ;
}

.denied-login-button:hover {
    background: linear-gradient(to right, #2a7570, #01928b);
    transform: translateY(-1px);
}