:root {
    --fundo-input: #4A4A52;
    --texto-claro: #E0E0E0;
    --texto-muted: #A0A0A0;
    --cor-acento-clara: #00FFC6;
}
/* ----------------------------------------------------
   estrutura do input da tela de login/registro
   ---------------------------------------------------- */

.campoInputContainer {
    margin-bottom: 15px; 
    position: relative;
    display: flex;
    flex-direction: column; 
}


.campoInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--fundo-input);
    border-radius: 8px; 
}

.campoInput {
    flex-grow: 1;
    padding: 15px;
    font-size: 1em;
    background: none; 
    border: none;
    color: var(--texto-claro);
    outline: none; 
}

.campoInput::placeholder {
    color: var(--texto-muted);
}

.campoInput:focus {
    box-shadow: none;
}


.campoInputWrapper:focus-within {
    outline: 2px solid var(--cor-acento-clara);
}

/* ----------------------------------------------------
   olhinho abrindo e fechando
   ---------------------------------------------------- */

.iconeVisibilidade {
    padding: 0 15px;
    cursor: pointer;
    display: flex; 
    align-items: center;
}
