.secaoSagas {
  width: 100%;
  padding: 80px 0;
  text-align: left;
}

.tituloSecao {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
}

.containerSagas {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 30px; 
  flex-wrap: wrap;
  padding: 0px; 
  max-width: 1400px; 
}
.cardSaga {
    flex: 0 0 auto; 
    width: 410px; 
    height: 270px; 
    border-radius: 20px;
    overflow: hidden; 
    position: relative; 
    text-decoration: none; 
}


.imagemSaga {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    vertical-align: middle; 
}


.infoOverlay {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    color: #ffffff;
    z-index: 10;

}

.tagSaga {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15); 
    border: 1px solid  rgba(255, 255, 255, 0.25);
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 12px;
    text-transform: uppercase;
}

.tituloSaga {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8); 
}

.subtituloSaga {
    font-size: 0.9rem;
    color: #cccccc;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 12px;
}